/*未来の私用のメモ書きあり！！*/

/*** 全html共通 ***/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family:"Noto Sans JP", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #353535
}

header {
  /* background-color: #F20707;
  color: #dfcebf;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%; */
  z-index: 1000;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #8C1822;
  color: #dfcebf;
}
footer p{
  font-size: 1em;
}

/* メニュー */
/*
800px以下だと、スマホ表示用のメニューになります。
<nav>
  <ul class="menu">
  <li><a>
  という構造になっており、
  .menu-toggle,.close-menu
  は、スマホ用メニューのボタンで各htmlのheaderに記述されてます。
*/
.menu-toggle,
.close-menu {
  display: none;  /* デフォルトでは表示しない */
  background-color: #8C1822;
  color: #dfcebf;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1100;
}

nav {
  background-color: #8C1822;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 0.5em #353535;
  z-index: 1000;
  padding: 0.5em;
  /* border-radius: 0 0 0 4em; */
}

.menu {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%; */
  list-style: none;
  padding: 0px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: max-height 0.3s ease-out;
  max-height: 300px;
  overflow: hidden;
}

.menu.expanded {
  max-height: 300px; /* メニューの高さをアニメーションで展開 */
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  color: #dfcebf; /* #fffを#dfcebfに変更 */
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600; 
  transition: all .3s;
  padding: 10px 20px; /* 背景色を広げるためのパディングを追加 */
  display: block; /* aタグをブロック要素にして、ホバー時の背景色を全体に適用 */
  transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease; /* トランジションの追加 */
}

.menu li a:hover {
  color: #8C1822; /* ホバー時の文字色 */
  background-color: #fafafa; /* ホバー時の背景色を広く適用 */
  font-weight: bold; /* ホバー時にフォントをボールドにする */
}

/* レスポンシブ対応メニュー */
/*ほんとはややこしくなるので作りたくなかった*/
@media (max-width: 840px) {
  .menu-toggle {
    display: block;  /* メニュー表示ボタンを表示 */
    margin: 10px auto;
    border-radius: 1rem;
  }

  .close-menu {
    display: block;  /* 閉じるボタンも表示 */
    margin: 10px auto;
    border-radius: 1rem;
  }

  nav {
  background-color: #8C1822ee;
  }
  nav .menu {
    flex-direction: column;
    align-items: center;
    max-height: 0; /* 初期状態で非表示に設定 */
  }

  nav .menu.expanded {
    max-height: 100vh; /* 展開時の高さを設定 */
    /* height:100vh; */
  }

  .menu li {
    margin: 10px 0;
  }
}

/* 作品紹介・お知らせ用カード */
/*共通したシステムを使っているので、JSでコピペして名前を変えれば増やせます*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
}

.card {
  /* border: 1px solid #ccc; */
  border-radius: 1rem;
  box-shadow: 0 0 1em #35353599;
  margin: 10px;
  width: 20em;
  overflow: hidden;
  background-color: #fafafa;;
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.1); /* ホバー時に1.1倍に拡大 */
}
.card:not(:hover) {
  transform: scale(1); /* ホバー解除時に通常のサイズに戻す */
}

.card img {
  width: 100%;
  height: auto;
  object-fit:cover;
}

.card-title {
  padding: 15px;
  text-align: left;
  font-size: 1.5em;
}

/* カードのオーバレイ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353535ee;
  display: none; /* 初期状態は非表示 */
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.overlay-content {
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 1rem;
  box-shadow: 0 0 1em #dfcebf;
  width: 75vw;
  height: 50hw;
  position: relative;
  white-space: pre-line; /* 改行を認識して表示 */
  word-wrap: break-word; /* 長い単語がある場合に改行 */
}

.overlay img {
  max-width: 100%;
  height: 20vw;
  display: block; /* Make sure it's a block-level element */
  margin: 0 auto; /* Center horizontally */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 4em;
  cursor: pointer;
}

.overlay h2 {
  font-size: 1.5em;
}

.overlay p {
  font-size: 1em;
  margin: 1em;
}

/*メンバー紹介カード*/
/*
クソダサいです。jsは使っておらず、memberを増やす際はhtmlでカードの塊
<div class="card-member-small">内のもの全てをコピペしてください
large,medium,smallの3種類ありますが、largeとsmallしか使っていません
largeは代表用です
*/
.card-member-large,.card-member-medium,.card-member-small{
  display: flex;
  margin: 1rem;
  overflow: hidden;
  min-width: 340px; 
}
.card-member-small{
  flex-grow:1;
}
.card-member-large img,.card-member-medium img,.card-member-small img{
  object-fit: cover;
  min-width: 50%;
  width: 50%;
  border-radius: 0.5rem;
}
.content-member{
  padding: 1rem;
  margin: 0.25rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-member h2,.content-member h3{
  color: #353535;
  text-align: left;
}
.content-member h3{
  margin: 0;
}
.content-member p{
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}
.card-member-large {
  height: 100%;
  max-width: 80%;
}
.card-member-medium {
  height: 20%;
  max-width: 90vw;
}
.card-member-small {
  /* height: 10%; */
  max-width: 28vw;
}

@media (max-width: 1279px) {
  .card-member-small {
    max-width: 40vw;
  }

}

.card-member-large h2{
  font-size: 8vh;
}
.card-member-medium h2{
  font-size: 4vh;
}
.card-member-small h2{
  font-size: 2.5vh;
}
.card-member-large h3{
  font-size: 4vh;
}
.card-member-medium h3{
  font-size: 3vh;
}
.card-member-small h3{
  font-size: 2vh;
}
/* 
.card-member-large .content-history h2{
  font-size: 2rem;
}
.card-member-medium .content-history h2{
  font-size: 1.25rem;
}
.card-member-small .content-history h2{
  font-size: 1rem;
} */
/*ここら辺のtableは作品名と役割の奴です。*/
table{
  border-collapse: collapse; /* セル間のスペースをなくす */
  font-family:"Noto Sans JP", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
th, td {
  position: relative; /* relativeを指定して::afterでの調整をしやすくする */
  padding: 0.25rem; /* セル内のパディング */
  border: none; /* 他のボーダーを無効化 */
  /* border-bottom: 0.1rem solid #8C1822;  */
}
td {
  border-left:  0.15rem dashed #8C1822; 
  text-align: left;
}
th{
  text-align: right;
}
.card-member-small table{
  font-size: 0.75rem;
}
.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

/*アイコンにリンクがaタグの影響を受けないようにする*/
.icon:hover{
background-color: #00000000;
}
img:hover{
  background-color: #00000000;
  }

.fa-brands{
	font-size: 2rem;
  color:#353535;
}

.fa-twitter{
  color:#1d9bf0;
}
.fa-youtube{
  color:#ff0000;
}

.card-member-small .fa-brands{
	font-size: 1.25rem;
}

hr {
  border-width: 0.25rem 0 0 0; /* 線の太さを指定 */
  border-style: dashed; /* 線の種類を指定 */
  border-color: #8C1822; /*線の色を指定 */
}

/*スマホ用メンバーカード*/
@media (max-width: 840px) {
  .content-member{
    padding: 0.25rem;
  }
  .card-member-large{
    display:block;
    width:100%;
    max-width:100%;
  }
  .card-member-large img{
    width: 100%;
  }
  .card-member-small{
    display:block;
    width:100%;
    max-width:100%;
  }
  .card-member-small img{
    height: 12rem;
    width:100%;
  }
}

/* 文章のブロック */
/*カードなどを置く際の下地となるdivです*/
.textblock{
  margin: 0 2em 0 2em;
}

/* 背景色 */
/*textblockの下地です*/
.bacWhite{
  padding: 1em 0 1em 0;
  background-color: #fafafa;
}

.bacWhiteAlpha{
  padding: 1em 0 1em 0;
  background-color: #fafafaee;
}
.bacblackAlpha{
  padding: 1em 0 1em 0;
  background-color: #242830ee;
}

/*ここから文字系ここから文字系ここから文字系ここから文字系*/
h1 {
  font-size: 10vw;
  color: #8C1822;
  margin-top: -0vw; /* 上の余白をゼロに設定 */
  margin-bottom: -0vw; /* 下の余白をゼロに設定 */
}
h2 {
  font-size: 3em;
  color: #8C1822;
  margin: 0;
  text-align: center;
}

h3{
  font-size: 2em;
  text-align: center;
}

p{
  font-size: 1.5em;
  font-family: "Noto Serif JP", serif;
  font-weight: 600; /* 太さ */
}

p span{
  position: relative;
  background: linear-gradient(transparent 40%, yellow 40%);
}

a{
  text-decoration: none;
  color:#8C1822;
  font-weight: 800; 
  transition: all .3s;
}
a:hover{
  background-color: #8C1822;
  color: #fafafa;
}

/* もっと見るなどのボタン */
.more{
  padding: 1em 0 1em 0;
  text-align: center;
}
.more-button,.connect-button {
  background-color: #fafafa00;
  border: 1px solid;
  border-radius: 4rem;
  height:4em;
  width: 16em;
  font-size: 1.25em;
  cursor: pointer;
  transition: all .5s;
}
.more-button{
  color: #8C1822;
}
.connect-button{
  color:#fafafa;
}
/* ボタンのホバー時 */
.more-button:hover{
  background-color: #8C1822;
  color: #fafafa;
  font-weight: bold;
}
.connect-button:hover{
  background-color:#242830ee;
  font-weight: bold;
}

/*** index.htmlのみ ***/

#backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* ビデオのサイズを調整して、枠内に収める */
}

.main-visual {
  /* background-image: url('path/to/your/image.jpg'); メインビジュアル画像のパスを指定 */
  background-size: cover;
  background-position: center;
  height: 100vh; /* 画面全体の高さに設定 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-visual-content {
  /* background-color: #35353599; 背景を半透明の黒にしてテキストを見やすく */
  padding: 20px;
  border-radius: 10px;
  color: #8C1822;
}

.main-visual-content h1{
  font-family: "Poppins", sans-serif;
  font-size: 25vw;
  font-weight: 900; /* 太さ */
  margin-top: -10vw; /* 上の余白をゼロに設定 */
  margin-bottom: -10vw; /* 下の余白をゼロに設定 */
  text-shadow: 0 0 16px  #fafafa99;
}
.main-visual-content p{
  font-size: 3vw;
  font-weight: 600; /* 太さ */
  text-shadow: 0 0 8px  #fafafa99;
  text-align: center;
}
/* .main-title {
  margin: 0;
  font-size: 2em;
} */

.ARGOSNS{
  justify-content: center;
  display:flex;
  gap:2rem;
  margin: 2rem;
}
.ARGOSNS:hover{
  background-color: #00000000;
}
.ARGOSNS .fa-brands{
	font-size: 5rem;
}

.foam{
  width:100%;
  height: 50rem;
}